<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pgyl.mind_a">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <application
        android:icon="@drawable/app_icon"
        android:label="Mind"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.pgyl.mind_a.MainActivity"
            android:label="Mind"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pgyl.pekislib_a.PresetsActivity"
            android:label="InputEditListActivity" />
        <activity
            android:name="com.example.pgyl.pekislib_a.InputButtonsActivity"
            android:label="InputButtonsActivity" />
        <activity
            android:name="com.example.pgyl.pekislib_a.HelpActivity"
            android:label="HelpActivity" />

        <service
            android:name="com.example.pgyl.pekislib_a.BeepIntentService"
            android:exported="false" />
    </application>
</manifest>
